@import "./general.css";

body {
    background-color: #cacab0;
}
nav {
    border-bottom: 2px solid #c0bba6;
}
.bg-dh {
    background-color: #cacab0;
}
.size38 {
    font-size: 38px;
}
.size32 {
    font-size: 32px;
}
.imgcont {
    flex-basis: 400px;
    /* min-width: 300px; */
    max-width: 500px;
}
p {
    font-size: 18px;
}
.mycontainer {
    width: 75%;
    margin: 0 auto;
}
.myimgcontainer {
    width: 85%;
    margin: 0 auto;
}
.cardfont {
    align-self: flex-start;
    height: 20vh;
    /* 15/10 */
}
#secondp {
    padding-left: 3.5rem;
}
#projectm {
    padding-left: 4.5rem;
}
.central-img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
#mywork {
    /* background-color: #003049; */
    width: 90%;
    /* height: auto; */
    margin: 0 auto;
    /* border: 5px solid #003049; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* flex: flex grow flex shrink flexbasis */
}
#mywork li {
    /* width: 600px; */
    /* height: 200px; */
    margin: 0 2%;
    max-width: 725px;
    flex-basis: 40%;
    min-width: 300px;
    flex-shrink: 1;
}
ul {
    list-style: none;
}

@media (max-width: 575.98px) {
    .imgcont {
        margin-top: 15vh;
    }
    #projectm img {
        margin-top: 4vh;
    }
}
@media (max-width: 700.98px) {
    .titlemarg {
        margin-top: 4rem;
    }
    #mywork {
        justify-content: center;
    }
    #mywork li {
        max-width: 350px;
    }
}
@media (max-width: 957px) {
    .size38 {
        font-size: 25px;
    }
    .size32 {
        font-size: 22px;
    }
    .mycontainer img {
        /* flex-basis: 90%; */
    }

    .gmb {
        margin-bottom: 4rem;
    }
    .cardtitle {
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
    .cardfont {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 22px;
    }
    #secondp {
        padding-left: 0rem;
    }
    #projectm {
        padding-left: 1rem;
    }
    #mywork li {
        margin: 0 0;
        flex-basis: 80%;
        max-width: 500px;
    }
    ul {
        list-style: none;
    }
}
@media only screen and (max-width: 767px) {
    .ocasiontopm {
        margin-top: 5.1rem;
    }
    .cardfont {
        margin-bottom: 10vh;
    }
}
@media (min-width: 857px) and (max-width: 999px) {
    .imgcont {
        flex-basis: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .cardfont {
        margin-bottom: 10vh;
    }
}
@media (min-width: 1000px) and (max-width: 1476px) {
    .imgcont {
        flex-basis: 400px;
        min-width: 400px;
        max-width: 400px;
    }
    .cardfont {
        margin-bottom: 5vh;
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    .imgcont {
        flex-basis: 650px;
        min-width: 556px;
        max-width: 609px;
    }
}
