@import "./general.css";

body {
    background-color: #cacab0;
}
nav {
    border-bottom: 2px solid #c0bba6;
}

.bg-dh {
    background-color: #cacab0;
}
.color-dh {
    color: #cacab0;
}
.size38 {
    font-size: 38px;
}
img {
    border-radius: 50%;
    /* width: 500px; */
}
.portfoliocontainer {
    width: 90%;
    margin-left: 4.5rem;
    /* margin: 0 auto;*/
}
.tittle {
    font-size: 40px;
}
.infocontact {
    font-size: 32px;
}
.direc {
    font-size: 20px;
    margin-bottom: 7rem;
}
input,
textarea,
.send {
    background-color: #cacab0 !important;
    border-style: none !important;
    outline: none !important;
    border: none;
    border-radius: 0% !important;
    border-bottom: 1px solid #3b3b3b !important;
}

input,
textarea:hover {
    border-style: none;
}
.send:hover {
    color: #000000;
    /* color:#1C1C33; */
}
input,
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px #cacab0 !important;
}
.mycontainer {
    width: 77%;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1c1c1b !important;
    opacity: 1;
    font-weight: 300 !important;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1c1c1b !important;
    opacity: 1;
    font-weight: 300 !important;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}

@media (min-width: 1200px) {
    .img-fluid {
        min-height: 432px;
        min-width: 432px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-fluid {
        min-height: 332px;
        min-width: 332px;
    }
}
@media (max-width: 957px) {
    .tittle {
        font-size: 30px;
    }
    .portfoliocontainer {
        max-width: 800px;
        width: 90%;
        margin-left: 2rem;
    }
    .infocontact {
        font-size: 22px;
    }
    .gmb {
        margin-bottom: 4rem;
    }
    .mycontainer {
        margin-top: 1.5rem;
    }
    .direc {
        margin-bottom: 4rem;
    }
    .circletm {
        margin-top: 4rem;
        /* padding-left: 15px; */
    }
    .size38 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 708px) {
    img {
        border-radius: 50%;
        /* width: 300px; */
    }
    .titlemarg {
        margin-top: 3.86rem;
        margin-bottom: 0rem;
    }
}
