html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    background-color: #e8e2df;
    font-family: "Montserrat";
    font-weight: 300;
    color: #1c1c1b;
}
input:focus {
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #cacab0 inset !important;
}

.bg-dh {
    background-color: #e8e2df;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-style: light;
}
.color-dh {
    color: #e8e2df;
}

.foto {
    width: 100%;
    height: 100%;
}
nav {
    border-bottom: 2px solid rgba(180, 180, 180, 0.4);
}
.lightmode {
    font-weight: 300;
    font-style: light;
}
.navbar-start {
    width: auto;
    height: 2.6rem;
}

.mycontainer {
    width: 78%;
    /* height: 1400px; */
    margin: 0 auto;
}
.sectmt {
    margin-top: 16.9rem;
}
.sectmb {
    margin-bottom: 11.9rem;
}
.titlemarg {
    margin-top: 6.5rem;
    margin-bottom: 4rem;
}
.sectm {
    margin: 16.9rem 0;
}
.acontact {
    font-size: 22px;
    color: #1c1c1b;
    border-bottom: 2px solid #1c1c1b;
}

.acontact:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
}
.footercontain {
    width: 90%;
    margin: 0 auto;
}
.foottag {
    margin-bottom: 4rem;
    font-size: 20px;
    color: #1c1c1b;
}
.foottag:hover {
    color: #000;
    text-decoration: none;
}
.navbarY {
    /* 1.66 */
    font-family: "Montserrat";
    font-size: 1.1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.nav-link {
    color: #1c1c1b !important;
}
.active {
    font-weight: 400 !important;
}
.border {
    border: 2px solid #000000 !important;
}
.navbarX {
    padding-left: 3.86em !important;
}
.gmt {
    margin-top: 3.86rem;
}
.gmb {
    margin-bottom: 6.125rem;
}

footer div:nth-of-type(3) {
    text-align: right;
    font-size: 20px;
}
.line-break {
    display: inline;
}
button {
    color: #3b3b3b;
    border-style: none !important;
    outline: none !important;
}

[data-aos="newfup"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="newfup"].aos-animate {
    opacity: 1;
}

[data-aos="newfup"] {
    transform: translateY(40px);
}
[data-aos="newfup"].aos-animate {
    transform: translateY(0);
}

[data-aos="newfup2"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="newfup2"].aos-animate {
    opacity: 1;
}

[data-aos="newfup2"] {
    transform: translateY(20px);
}
[data-aos="newfup2"].aos-animate {
    transform: translateY(0);
}

[data-aos="newzin"] {
    opacity: 0.5;
    transition-property: transform, opacity;
}
[data-aos="newzin"].aos-animate {
    opacity: 1;
}

[data-aos="newzin"] {
    transform: scale(0.98);
}
[data-aos="newzin"].aos-animate {
    transform: scale(1);
}

.bar1,
.bar3 {
    width: 30px;
    height: 2px;
    background-color: #1c1c1b;
    margin: 10px 0;
    transition: 0.1s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 8.5px);
    transform: rotate(-45deg) translate(-1px, 8.5px);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
}

.mgfb {
    margin-right: 2.5rem;
}
.animate-in {
    -webkit-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
}

.animate-out {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.padleft {
    padding-left: 3.7375rem;
}

/*Extra small devices (portrait phones)*/
@media (max-width: 575.98px) {
    .line-break--sm-and-up,
    .line-break--md-and-up,
    .line-break--lg-and-up,
    .line-break--xl-and-up,
    .line-break--sm,
    .line-break--md,
    .line-break--lg,
    .line-break--xl {
        display: none;
    }
    .nav-link {
        font-size: 30px;
    }
    #hamburguer {
        height: 8vh;
    }
    .nav-item {
        height: 10vh;
    }

    .firstnavitem {
        margin-top: 0.5rem;
    }
}

/*Small devices (landscape phones)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .line-break--md-and-up,
    .line-break--lg-and-up,
    .line-break--xl-and-up,
    .line-break--xs-and-below,
    .line-break--xs,
    .line-break--md,
    .line-break--lg,
    .line-break--xl {
        display: none;
    }
    .nav-link {
        font-size: 30px;
    }
    .nav-item {
        height: 10vh;
    }
    .firstnavitem {
        margin-top: 1rem;
    }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .line-break--lg-and-up,
    .line-break--xl-and-up,
    .line-break--xs-and-below,
    .line-break--sm-and-below,
    .line-break--xs,
    .line-break--sm,
    .line-break--lg,
    .line-break--xl {
        display: none;
    }
    .nav-link {
        font-size: 30px;
    }
    .nav-item {
        height: 10vh;
    }
    .firstnavitem {
        margin-top: 1rem;
    }
}

/*Large devices (desktops)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .line-break--xl-and-up,
    .line-break--xs-and-below,
    .line-break--sm-and-below,
    .line-break--md-and-below,
    .line-break--xs,
    .line-break--sm,
    .line-break--md,
    .line-break--xl {
        display: none;
    }
}

/*Extra large devices (large desktops)*/
@media (min-width: 1200px) {
    .line-break--xs-and-below,
    .line-break--sm-and-below,
    .line-break--md-and-below,
    .line-break--lg-and-below,
    .line-break--xs,
    .line-break--sm,
    .line-break--md,
    .line-break--lg {
        display: none;
    }
}
@media (max-width: 957px) {
    footer div:nth-of-type(3) {
        text-align: center;
    }
    footer div:nth-of-type(1) {
        text-align: center;
        line-height: 5rem;
    }
}
@media only screen and (max-width: 708px) {
    footer div:nth-of-type(3) {
        text-align: center;
    }
    footer div:nth-of-type(1) {
        text-align: center;
    }
}
