@import "./general.css";

video {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 93vh;
    margin-top: 5.5rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

h3 {
    font-size: 28px;
}

.jumbotext {
    font-size: 55px;
    position: relative;
    /* 14.24 */
    padding-top: 40vh;
}

.navbar-start {
    height: 5.53rem;
}
.gml {
    margin-left: 4rem;
}
.herodad {
    display: flex;
    justify-content: center;
    /* margin-bottom: 28%; */
}
.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.hero::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(#); */
    height: 93vh;
    width: 100vw;
    background-size: cover;
    /* padding-top: 52%; */
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#dhcontainer1 {
    /* background-color: #003049; */
    width: 85%;
    height: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    align-content: space-evenly;
}
#dhcontainer1 div {
    width: 580px;
    height: 580px;
    flex-basis: 40%;
    flex-shrink: 2;
}
#dhcontainer1 div:nth-of-type(2) {
    padding-top: 2.62rem;
    /* align-self: flex-end; */
}
#dhcontainer1 div:nth-of-type(4) {
    padding-top: 2.62rem;
}
#dhcontainer2 {
    width: 85%;
    height: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    align-content: space-evenly;
}
#dhcontainer2 div {
    /* 446px 28% */
    width: 446px;
    height: 480px;
    flex-basis: 28%;
}

.gallery {
    /* 5% */
    background: url(images/Ellipse.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}
.special {
    margin-top: 60vh;
}

@media (max-width: 575.98px) {
    .navbar-start {
        height: 3.6rem;
    }
    .jumbotext {
        text-align: center;
        font-size: 45px;
        line-height: 3rem;
        padding-top: 60%;
    }
    #gallery {
        padding: 20%;
    }
    .special {
        margin-top: 55vh;
    }
    #dhcontainer2 {
        height: 600px;
    }
    #dhcontainer2 div {
        max-height: 26%;
        /* min-height: 28%; */
        max-width: 200px;
        flex-basis: 45%;
    }
    .img-fluid {
        width: fit-content;
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
    }
    video {
        margin-top: 3.6rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-start {
        height: 3.6rem;
    }
    .jumbotext {
        font-size: 45px;
        /* padding-top: 20%; */
    }
    #dhcontainer2 {
        height: 900px;
    }
    #dhcontainer2 div {
        max-height: 230px;
        /* min-height: 28%; */
        /* max-width: 300px; */
        flex-basis: 45%;
    }
    .img-fluid {
        width: fit-content;
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
    }
    video {
        margin-top: 3.6rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-start {
        height: 3.6rem;
    }
    .jumbotext {
        font-size: 50px;
    }
    .gallery {
        margin-left: 20%;
        margin-right: 20%;
    }
    #gallery {
        padding: 10%;
    }
    #dhcontainer2 {
        height: 700px;
    }
    #dhcontainer2 div {
        height: 300px;
        flex-basis: 30%;
    }
    video {
        margin-top: 3.6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #dhcontainer2 {
        height: 800px;
    }
    #dhcontainer2 div {
        height: 350px;
        flex-basis: 30%;
    }
}
@media (min-width: 1200px) {
}
@media only screen and (max-width: 1193px) {
    #dhcontainer1 {
        /* background-color: #003049; */
        height: 1000px;
    }
    #dhcontainer1 div {
        height: 400px;
    }
    /* #dhcontainer2{
		height: 800px;
	}
	#dhcontainer2 div {
		height: 300px;
	} */
}

@media (max-width: 957px) {
    #dhcontainer1 {
        height: 950px;
    }
    #dhcontainer1 div {
        height: 310px;
    }
    /* #dhcontainer2{ 
		height: 800px;
	} */
}

@media only screen and (max-width: 708px) {
    #dhcontainer1 {
        width: 85%;
        height: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        align-items: start;
    }
    #dhcontainer1 div {
        height: 300px;
        flex-basis: 90%;
    }
    #dhcontainer1 div:nth-of-type(2) {
        padding-top: 0rem;
    }
    #dhcontainer1 div:nth-of-type(4) {
        padding-top: 0rem;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }
    .gmb {
        margin-bottom: 4.12rem;
    }
}
