@import "./general.css";

.portfoliocontainer {
    width: 90%;
    margin-left: 4.5rem;
    /* margin: 0 auto; */
}
.size38 {
    font-size: 38px;
}
ul {
    list-style: none;
}

p {
    margin-top: 1.8rem;
    margin-left: 0.5rem;
    font-size: 28px;
    line-height: 2rem;
}
#mywork {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
img {
    object-fit: cover;
    height: 450px !important;
    width: 100%;
}

#mywork li {
    margin: 0 2%;
    margin-bottom: 8rem;
    /* max-width: 725px; */

    flex-basis: 40%;
    max-width: 500px;
}

@media only screen and (max-width: 1193px) {
    img {
        height: 300px !important;
    }
}
@media (max-width: 957px) {
    #mywork li {
        flex-basis: 90%;
        margin-bottom: 3rem;
    }
    .portfoliocontainer {
        max-width: 800px;
        width: 90%;
        margin-left: 2rem;
    }
    p {
        line-height: 1.5rem;
        margin-top: 1.2rem;
        font-size: 18px;
    }
}
@media only screen and (max-width: 708px) {
    .titlemarg {
        margin-top: 3.86rem;
        margin-bottom: 2.5rem;
    }
    .tittle {
        font-size: 30px;
    }
}
