@import "./general.css";

.portfoliocontainer {
    width: 90%;
    margin-left: 4.5rem;
    /* margin: 0 auto;*/
}
.tittle {
    font-size: 40px;
}

input,
textarea,
.send {
    background-color: #e8e2df !important;
    border-style: none !important;
    outline: none !important;
    border: none;
    border-radius: 0% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e8e2df inset !important;
}
.send {
    width: 100%;
    padding: 10px;
}
input,
textarea:hover {
    border-style: none;
}
.send:hover {
    color: #000000;
    /* color:#1C1C33; */
}
input,
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px #e8e2df !important;
}
.mycontainer {
    width: 77%;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1c1c1b !important;
    opacity: 1;
    font-weight: 300 !important;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1c1c1b !important;
    opacity: 1;
    font-weight: 300 !important;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #1c1c1b !important;
    font-weight: 300 !important;
}
.border-notop {
    /* border-top: solid 2px #1c1c1b; */
    border-left: solid 2px #1c1c1b;
    border-right: solid 2px #1c1c1b;
    border-bottom: solid 2px #1c1c1b;
}
.tittle {
    font-size: 16px;
    font-weight: 400;
}
.acontact {
    font-size: 16px;
}
@media (min-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (max-width: 957px) {
    .tittle {
        font-size: 30px;
    }
    .portfoliocontainer {
        max-width: 800px;
        width: 90%;
        margin-left: 2rem;
    }
    .infocontact {
        font-size: 22px;
    }
    .gmb {
        margin-bottom: 4rem;
    }
    .mycontainer {
        margin-top: 1.5rem;
    }
}
@media only screen and (max-width: 708px) {
}
