@import "./general.css";

.portfoliocontainer {
    width: 300px !important;
    margin-left: 4.5rem;
    margin-right: auto;
    /* margin: 0 auto; */
}
ul {
    list-style: none;
}
h2 {
    font-weight: 300;
    font-style: normal;
}

#mywork {
    /* background-color: #003049; */
    width: 90%;
    /* height: auto; */
    margin: 0 auto;
    /* border: 5px solid #003049; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* flex: flex grow flex shrink flexbasis */
}

#mywork li {
    /* width: 600px; */
    /* height: 200px; */
    margin: 0 2%;
    max-width: 725px;
    flex-basis: 40%;
    min-width: 300px;
    flex-shrink: 1;
}

@media only screen and (max-width: 1193px) {
    #mywork {
    }
    #mywork li {
    }
}
@media (max-width: 957px) {
    #mywork li {
        margin: 0 0;
        flex-basis: 80%;
        max-width: 500px;
    }
    .portfoliocontainer {
        max-width: 800px;
        width: 90%;
        margin-left: 2rem;
    }
    .gmb {
        margin-bottom: 3rem;
    }
    .contactmt {
        margin-top: 4.5rem;
    }
}
@media only screen and (max-width: 708px) {
    #mywork {
        justify-content: center;
    }
    #mywork li {
        max-width: 350px;
    }
    img {
        pointer-events: none;
    }
    .tittle {
        font-size: 30px;
    }
    .titlemarg {
        margin-top: 3.86rem;
        margin-bottom: 2.5rem;
    }
}
