@import "./general.css";

.postcontainer {
    width: 90%;
    margin-left: 4.5rem;
}
.control-mr {
    /* margin-right: 5rem; */
}

section > div {
    text-align: center;
}

p {
    text-align: left !important;
}
.expand-img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

@media only screen and (max-width: 708px) {
    .acontact {
        font-size: 20px;
    }
    .postcontainer {
        margin-left: 2rem;
    }
    .gmb {
        margin-bottom: 2rem;
    }
}
