@import "./general.css";

.postcontainer {
    width: 90%;
    margin-left: 4.5rem;
}

.portfoliocontainer {
    width: 300px !important;
    margin-left: 4.5rem;
    margin-right: auto;
    /* margin: 0 auto; */
}
ul {
    list-style: none;
}
h2 {
    font-weight: 300;
    font-style: normal;
}

#mywork {
    overflow-x: auto;
    /* background-color: #003049; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: first baseline;
}

#mywork li {
    margin: 0 1.5%;
    /* min-width: 500px; */
    min-height: 500px;
    max-height: 65vh;
}

.img-fluid {
    /* width: fit-content; */
    /* max-height: auto; */
    max-width: none;
    height: -webkit-fill-available;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    #mywork li {
        margin: 0 5%;
        /* min-width: 300px; */
        min-height: 200px;
        max-height: 300px;
    }
    .postcontainer {
        margin-left: 2rem;
    }
    .titlemarg {
        margin-top: 4rem;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #mywork li {
        margin: 0 5%;
        /* min-width: 350px; */
        min-height: 200px;
        max-height: 350px;
    }
    .postcontainer {
        margin-left: 2rem;
    }
    .titlemarg {
        margin-top: 4rem;
    }
}
