<template>
    <input type="text" class="form-control" />
</template>

<script>
export default {
    props: {
        value: [String],
        format: {
            default() {
                return "dd-mm-yy";
            }
        }
    },
    mounted() {
        var vm = this;
        $(this.$el)
            .datepicker({
                dateFormat: this.format
            })
            .val(this.value)
            .on("change", function() {
                vm.$emit("input", this.value);
            });
    },
    destroyed() {
        $(this.$el).datepicker("destroy");
    }
};
</script>
