<template>
    <div>
        <button
            class="btn btn-outline-info"
            data-toggle="modal"
            data-target="#modal-nuevo-post"
        >
            Crear Post
        </button>
        <modal-nuevo-post></modal-nuevo-post>
    </div>
</template>

<script>
import ModalNuevoPost from "./ModalNuevoPost";
export default {
    components: {
        ModalNuevoPost
    }
};
</script>
