<template>
    <div class="form-layout form-layout-7">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">Título</div>
            <div class="col-7 col-sm-8">
                <input
                    class="form-control"
                    :class="{ 'is-invalid': errors.title }"
                    type="text"
                    name="title"
                    v-model="title"
                    placeholder="Escribe el título"
                    required
                />
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">Fecha</div>
            <div class="col-7 col-sm-8">
                <datepicker
                    v-model="fecha"
                    name="fecha"
                    :class="{ 'is-invalid': errors.fecha }"
                ></datepicker>
            </div>
        </div>
        <post-content
            v-for="(cnt, index) in postContents"
            :key="index"
            v-model="postContents[index]"
            @remove="remove(index)"
        ></post-content>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Añadir
            </div>
            <div class="col-7 col-sm-8">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="nuevoTexto"
                >
                    Texto
                </button>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="nuevaImagen"
                >
                    Imagen
                </button>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4 mg-l-auto">
                <a class="btn btn-outline-secondary" href="admin/posts"
                    >Cancelar</a
                >
            </div>
            <div class="col-7 col-sm-8 mg-r-auto">
                <button
                    type="button"
                    class="btn btn-outline-info"
                    @click="guardar"
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import PostContent from "./PostContent.vue";
export default {
    components: { PostContent },
    props: {
        ptitle: [String],
        pfecha: [String],
        contenidos: {
            type: Array,
            default() {
                return [];
            }
        },
        errors: {
            default() {
                return {};
            }
        }
    },
    data() {
        return {
            title: this.ptitle,
            fecha: this.pfecha,
            postContents: []
        };
    },
    mounted() {
        for (var i = 0; i < this.contenidos.length; i++) {}
    },
    methods: {
        nuevoTexto() {
            var obj = {
                type: "TEXTO",
                body_1: "",
                body_2: ""
            };
            this.postContents.push(obj);
        },
        nuevaImagen() {
            var obj = {
                type: "FOTO",
                foto: null
            };
            this.postContents.push(obj);
        },
        remove(index) {
            this.postContents.splice(index, 1);
        },
        guardar() {
            var formData = new FormData();
            formData.append("title", this.title);
            formData.append("fecha", this.fecha);
            this.postContents.forEach((c, i) => {
                if (c.type == "TEXTO") {
                    if (c.body_1.length) {
                        formData.append(`content[${2 * i}]`, c.body_1);
                    }
                    if (c.body_2.length) {
                        formData.append(`content[${2 * i + 1}]`, c.body_2);
                    }
                } else if (c.type == "FOTO") {
                    if (c.foto) {
                        formData.append(`content[${2 * i}]`, c.foto);
                    }
                }
            });
            console.log("Guardar");
            console.log(formData);
            this.$toast.info(
                "Se están guardando los datos de este documento.",
                "Guardando",
                {
                    position: "center"
                }
            );
            axios
                .post("/admin/posts", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito", {
                        position: "center"
                    });
                    setTimeout(() => {
                        window.location = `/admin/posts/${res.data.post_id}`;
                    }, 3000);
                })
                .catch(err => {
                    this.$toast.error(err.response.data.message, "Error", {
                        position: "center"
                    });
                });
        }
    }
};
</script>

<style></style>
