<template>
    <div
        id="modal-nuevo-post"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="modal-nuevo-post-title"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <form class="modal-content" @submit.prevent="guardar">
                <div class="modal-header">
                    <h6 id="modal-nuevo-post-title" class="modal-title">
                        Nuevo Post
                    </h6>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mg-y-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model="title"
                                        placeholder="Título de Post"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        :disabled="isInvalid"
                    >
                        Crear
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: "",
            waiting: false
        };
    },
    computed: {
        isInvalid() {
            return this.title.length == 0 || this.waiting;
        }
    },
    mounted() {
        var vm = this;
        $(this.$el).on("hidden.bs.modal", function(e) {
            vm.reset();
        });
    },
    methods: {
        close() {
            $(this.$el).modal("hide");
        },
        reset() {
            this.title = "";
            this.fecha = "";
            console.log("Reset");
        },
        guardar() {
            var pkg = { title: this.title };
            this.waiting = true;
            axios
                .post("/admin/posts", pkg)
                .then(res => {
                    this.$toast.success(res.data.message, "Error", {
                        position: "center"
                    });
                    setTimeout(() => {
                        window.location = `/admin/posts/${res.data.post_id}`;
                    }, 3000);
                })
                .catch(err => {
                    if (err.response.data.errors?.title) {
                        console.log(err.response.data.errors);
                        this.$toast.error(
                            err.response.data.errors.title[0],
                            "Error",
                            {
                                position: "center"
                            }
                        );
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                })
                .then(() => {
                    this.waiting = false;
                });
        }
    }
};
</script>

<style></style>
