<template>
    <div class="row no-gutters">
        <div class="col-5 col-sm-4">
            <span class="mg-r-10">{{ tipo }}</span>
            <button
                v-if="editing"
                class="btn btn-info btn-sm"
                @click="guardar"
                :disabled="waiting"
            >
                <i class="fa fa-save"></i>
            </button>
            <button
                v-else
                class="btn btn-success btn-sm"
                @click="editar"
                :disabled="waiting"
            >
                <i class="fa fa-pencil"></i>
            </button>
        </div>
        <template v-if="type == 'TEXTO'">
            <div class="col">
                <textarea
                    v-if="editing"
                    class="form-control"
                    rows="3"
                    :value="value.body_1"
                    @input="updateValue('body_1', $event.target.value)"
                    :readonly="waiting"
                ></textarea>
                <span v-else>{{ value.body_1 }}</span>
            </div>
            <div class="col">
                <textarea
                    v-if="editing"
                    class="form-control"
                    rows="3"
                    :value="value.body_2"
                    @input="updateValue('body_2', $event.target.value)"
                    :readonly="waiting"
                ></textarea>
                <span v-else>
                    {{ value.body_2 }}
                </span>
            </div>
        </template>
        <template v-else-if="type == 'FOTO'">
            <div class="col" @click="addFoto">
                <div class="image-container">
                    <img v-show="foto" :src="foto" class="foto" ref="img" />
                    <i v-show="!foto" class="fa fa-image foto-missing"></i>
                    <input
                        type="file"
                        ref="foto_input"
                        class="d-none"
                        @change="readUrl"
                        :disabled="waiting || !editing"
                    />
                </div>
            </div>
        </template>
        <div class="col-1 d-flex align-items-center justify-content-center">
            <button
                type="button"
                class="btn btn-outline-dark"
                @click="confirmRemove"
            >
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: [Object],
        waiting: [Boolean]
    },
    data() {
        return {
            ...Object.assign({}, this.value),
            editing: false,
            file: null
        };
    },
    computed: {
        tipo() {
            return this.type == "TEXTO" ? "Texto" : "Foto";
        }
    },
    methods: {
        editar() {
            this.editing = true;
        },
        guardar() {
            if (this.id === null) {
                if (this.type == "TEXTO") {
                    this.storeTexto();
                } else {
                    this.storeFoto();
                }
            } else {
                if (this.type == "TEXTO") {
                    this.updateTexto();
                } else {
                    this.updateFoto();
                }
            }
        },
        storeTexto() {
            var pkg = {
                post_id: this.post_id,
                body_1: this.value.body_1,
                body_2: this.value.body_2
            };
            this.$emit("update_waiter", true);
            axios
                .post("/admin/post_contenidos", pkg)
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.updateValue("id", res.data.contenido.id);
                    this.editing = false;
                    this.$emit("update_waiter", false);
                })
                .catch(err => {
                    if (err.response.data.errors) {
                        if (err.response.data.errors.body_1) {
                            this.$toast.error(
                                err.response.data.errors.body_1[0],
                                "Error",
                                {
                                    position: "center"
                                }
                            );
                        }
                        if (err.response.data.errors.body_2) {
                            this.$toast.error(
                                err.response.data.errors.body_2[0],
                                "Error",
                                {
                                    position: "center"
                                }
                            );
                        }
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                    this.$emit("update_waiter", false);
                })
                .then(() => {});
        },
        storeFoto() {
            var pkg = new FormData();
            pkg.append("foto", this.file);
            pkg.append("post_id", this.post_id);
            this.$emit("update_waiter", true);
            axios
                .post("/admin/post_contenidos", pkg, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.value.id = res.data.contenido.id;
                    this.updateValue("foto", res.data.contenido.foto);
                    this.editing = false;
                    this.$emit("update_waiter", false);
                })
                .catch(err => {
                    if (err.response.data.errors?.foto) {
                        this.$toast.error(
                            err.response.data.errors.foto[0],
                            "Error",
                            {
                                position: "center"
                            }
                        );
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                    this.$emit("update_waiter", false);
                })
                .then(() => {});
        },
        updateTexto() {
            var pkg = {
                body_1: this.value.body_1,
                body_2: this.value.body_2
            };
            this.$emit("update_waiter", true);
            axios
                .put(`/admin/post_contenidos/${this.value.id}`, pkg)
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.editing = false;
                    this.$emit("update_waiter", false);
                })
                .catch(err => {
                    if (err.response.data.errors) {
                        if (err.response.data.errors.body_1) {
                            this.$toast.error(
                                err.response.data.errors.body_1[0],
                                "Error",
                                {
                                    position: "center"
                                }
                            );
                        }
                        if (err.response.data.errors.body_2) {
                            this.$toast.error(
                                err.response.data.errors.body_2[0],
                                "Error",
                                {
                                    position: "center"
                                }
                            );
                        }
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                    this.$emit("update_waiter", false);
                })
                .then(() => {});
        },
        updateFoto() {
            var pkg = new FormData();
            pkg.append("foto", this.file);
            pkg.append("_method", "PUT");
            this.$emit("update_waiter", true);
            axios
                .post(`/admin/post_contenidos/${this.value.id}`, pkg, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.editing = false;
                    this.$emit("update_waiter", false);
                })
                .catch(err => {
                    if (err.response.data.errors?.foto) {
                        this.$toast.error(
                            err.response.data.errors.foto[0],
                            "Error",
                            {
                                position: "center"
                            }
                        );
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                    this.$emit("update_waiter", false);
                })
                .then(() => {});
        },
        confirmRemove() {
            this.$toast.question("¿Desea remover este elemento?", "Confirmar", {
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: "once",
                id: "question",
                zindex: 1500,
                position: "center",
                buttons: [
                    [
                        "<button><b>SÍ</b></button>",
                        (instance, toast) => {
                            this.remove();
                            instance.hide(
                                { transitionOut: "fadeOut" },
                                toast,
                                "button"
                            );
                        },
                        true
                    ],
                    [
                        "<button>NO</button>",
                        function(instance, toast) {
                            instance.hide(
                                { transitionOut: "fadeOut" },
                                toast,
                                "button"
                            );
                        }
                    ]
                ]
            });
        },
        remove() {
            if (this.value.id === null) {
                this.$emit("remove");
            } else {
                this.$emit("update_waiter", true);
                axios
                    .delete(`/admin/post_contenidos/${this.value.id}`)
                    .then(res => {
                        this.$emit("remove");
                    })
                    .catch(err => {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    })
                    .then(() => {
                        this.$emit("update_waiter", false);
                    });
            }
        },
        addFoto() {
            this.$refs["foto_input"].click();
        },
        readUrl($event) {
            var input = $event.target;
            if (input.files && input.files[0]) {
                this.file = input.files[0];
                var reader = new FileReader();
                this.foto = input.files[0];
                var vm = this;
                reader.onload = function(e) {
                    vm.foto = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
                this.updateValue("foto", this.foto);
            }
        },
        updateValue(key, value) {
            this.$emit("input", { ...this.value, [key]: value });
        }
    }
};
</script>

<style scoped>
.foto-missing {
    font-size: 50px;
}
.image-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.foto {
    max-width: 100%;
    max-height: 100%;
}
</style>
