<template>
    <div class="form-layout form-layout-7">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                <span class="mg-r-10">
                    Título
                </span>
                <button
                    v-if="editing.title"
                    class="btn btn-info btn-sm"
                    @click="guardarTitle"
                    :disabled="waiting"
                >
                    <i class="fa fa-save"></i>
                </button>
                <button
                    v-else
                    class="btn btn-success btn-sm"
                    @click="editTitle"
                    :disabled="waiting"
                >
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
            <div class="col-7 col-sm-8">
                <input
                    v-if="editing.title"
                    class="form-control"
                    type="text"
                    :readonly="waiting"
                    v-model="title"
                    placeholder="Escribe el título"
                    required
                />
                <span v-else>{{ title }}</span>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                <span class="mg-r-10">
                    Fecha
                </span>
                <button
                    v-if="editing.fecha"
                    class="btn btn-info btn-sm"
                    @click="guardarFecha"
                    :disabled="waiting"
                >
                    <i class="fa fa-save"></i>
                </button>
                <button
                    v-else
                    class="btn btn-success btn-sm"
                    @click="editFecha"
                    :disabled="waiting"
                >
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
            <div class="col-7 col-sm-8">
                <datepicker
                    v-if="editing.fecha"
                    v-model="fecha"
                    :readonly="waiting"
                    format="yy-mm-dd"
                ></datepicker>
                <span v-else>{{ fecha }}</span>
            </div>
        </div>
        <post-content
            v-for="(cnt, index) in contenidos"
            :key="cnt.id"
            v-model="contenidos[index]"
            :waiting="waiting"
            @update_waiter="updateWaiter"
            @remove="removeContenido(index)"
        ></post-content>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Añadir
            </div>
            <div class="col-7 col-sm-8">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="nuevoTexto"
                    :disabled="waiting"
                >
                    Texto
                </button>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="nuevaImagen"
                    :disabled="waiting"
                >
                    Imagen
                </button>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                <a class="btn btn-outline-secondary" href="admin/posts"
                    >Volver</a
                >
            </div>
            <div class="col-7 col-sm-8"></div>
        </div>
    </div>
</template>

<script>
import PostContent from "./PostContent.vue";
export default {
    components: { PostContent },
    props: ["ppost", "pcontenidos"],
    data() {
        return {
            title: this.ppost.title,
            fecha: this.ppost.fecha,
            id: this.ppost.id,
            contenidos: this.pcontenidos,
            waiting: false,
            editing: {
                title: false,
                fecha: false
            }
        };
    },
    methods: {
        editTitle() {
            this.editing.title = true;
        },
        guardarTitle() {
            var pkg = { title: this.title };
            this.updateWaiter(true);
            axios
                .put(`/admin/posts/${this.id}`, pkg)
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.editing.title = false;
                })
                .catch(err => {
                    if (err.response.data.errors?.title) {
                        this.$toast.error(
                            err.response.data.errors.title[0],
                            "Error",
                            {
                                position: "center"
                            }
                        );
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                })
                .then(() => {
                    this.updateWaiter(false);
                });
        },
        editFecha() {
            this.editing.fecha = true;
        },
        guardarFecha() {
            var pkg = { fecha: this.fecha };
            this.updateWaiter(true);
            axios
                .put(`/admin/posts/${this.id}`, pkg)
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.editing.fecha = false;
                })
                .catch(err => {
                    if (err.response.data.errors?.fecha) {
                        this.$toast.error(
                            err.response.data.errors.fecha[0],
                            "Error",
                            {
                                position: "center"
                            }
                        );
                    } else {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    }
                })
                .then(() => {
                    this.updateWaiter(false);
                });
        },
        nuevoTexto() {
            var obj = {
                post_id: this.id,
                id: null,
                type: "TEXTO",
                body_1: "",
                body_2: ""
            };
            this.contenidos.push(obj);
        },
        nuevaImagen() {
            var obj = {
                post_id: this.id,
                id: null,
                type: "FOTO",
                foto: null
            };
            this.contenidos.push(obj);
        },
        updateWaiter(val) {
            this.waiting = val;
        },
        removeContenido(index) {
            this.$toast.success(
                "El elemento fue removido exitosamente.",
                "Éxito"
            );
            this.$nextTick().then(() => {
                this.contenidos.splice(index, 1);
            });
        }
    }
};
</script>

<style></style>
