<template>
    <div class="image-container">
        <i class="fa fa-times delete" @click="remove"></i>
        <img :src="img.url" class="foto" />
    </div>
</template>

<script>
export default {
    props: {
        img: [Object]
    },
    methods: {
        remove() {
            this.$toast.question("¿Desea remover esta foto?", "Confirmar", {
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: "once",
                id: "question",
                zindex: 1500,
                position: "center",
                buttons: [
                    [
                        "<button><b>SÍ</b></button>",
                        (instance, toast) => {
                            this.destroy();
                            instance.hide(
                                { transitionOut: "fadeOut" },
                                toast,
                                "button"
                            );
                        },
                        true
                    ],
                    [
                        "<button>NO</button>",
                        function(instance, toast) {
                            instance.hide(
                                { transitionOut: "fadeOut" },
                                toast,
                                "button"
                            );
                        }
                    ]
                ]
            });
        },
        destroy() {
            axios
                .delete(`/admin/portfolio/${this.img.id}`)
                .then(res => {
                    this.$toast.success(res.data.message, "Éxito");
                    this.$emit("destroyed");
                })
                .catch(err => {
                    this.$toast.error(err.response.data.message, "Error", {
                        position: "center"
                    });
                });
        }
    }
};
</script>

<style scoped>
i.delete {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
</style>
