<template>
    <div id="portfolio" class="mg-y-10">
        <div class="container">
            <div class="row">
                <div
                    v-for="(img, index) in images"
                    :key="index"
                    class="col-md-3 col-sm-4 col-6 bd"
                >
                    <foto :img="img" @destroyed="destroy(index)"></foto>
                </div>
                <div class="col-md-3 col-sm-4 col-6 bd">
                    <div class="image-container" @click="addFoto">
                        <i class="fa fa-image pos-relative foto">
                            <i class="fa fa-plus tx-16"></i>
                        </i>
                        <input
                            type="file"
                            ref="input"
                            class="d-none"
                            @change="readUrl"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Foto from "./Foto";
export default {
    components: { Foto },
    props: ["pimages", "route", "action"],
    data() {
        return {
            images: this.pimages
        };
    },
    methods: {
        addFoto() {
            this.$refs.input.click();
        },
        readUrl($event) {
            var input = $event.target;
            console.log(input);
            if (input.files && input.files[0]) {
                var formData = new FormData();
                formData.append("image", input.files[0]);
                axios
                    .post("/admin/portfolio", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(res => {
                        console.log(res);
                        this.images.push(res.data.data);
                    })
                    .catch(err => {
                        this.$toast.error(err.response.data.message, "Error", {
                            position: "center"
                        });
                    });
            }
        },
        destroy(index) {
            this.images.splice(index, 1);
        }
    }
};
</script>

<style></style>
